<footer class="layout__footer">
  {{ if ne .Site.Params.hideMadeWithLine true }}
  <span class="footer__copyright">CC BY-NC-SA 4.0</a>, sejak 2016 &copy; Deo,</span>
  <span class="footer__icons">
    <span aria-hidden="true">🌱</span> dengan
    <span aria-hidden="true">❤️</span>
  </span>
  <br>
  <a rel="me" href="https://infosec.exchange/@mdv">mastodon</a> |
  <a rel="me" href="mailto:deo@duck.com">email</a> |
  <a target="_blank" href="https://github.com/deovaliandro">github</a>
  {{ end }}
</footer>
</body>