<footer>
  {{ if ne .Site.Params.hideMadeWithLine true }}
  <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
    CC BY-NC-SA 4.0</a>, sejak 2016 &copy; Deo,
  <span id="love">🌱</span> dengan <span id="love">💗</span>. <br>
  <a rel="me" href="https://infosec.exchange/@mdv">mastodon</a> | <a rel="me"
    href="mailto:deo@duck.com">email</a> |
    <a target="_blank" href="https://github.com/deovaliandro">github</a>.
  {{ end }}
</footer>
</body>
<!-- MathJax -->
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$']],
      displayMath: [['$$', '$']],
      processEscapes: true
    },
    chtml: {
      scale: 0.8
    },
  };
</script>

</html>