<footer>
  <span>CC BY-NC-SA 4.0</a>, sejak 2016 &copy; Deo, 🌱 dengan ❤️</span>
  <br>
  <a rel="me" href="https://infosec.exchange/@mdv">mastodon</a> |
  <a rel="me" href="mailto:deo@duck.com">email</a> |
  <a target="_blank" href="https://github.com/deovaliandro">github</a>
</footer>
{{ if .Site.Params.math }}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    options: {
      renderActions: {
        addMenu: []
      }
    },
    chtml: {
      scale: 1,
      matchFontHeight: true,
    }
  };
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ end }}
</body>