<header class="py-4">
  <nav
    class="mx-auto max-w-4xl flex items-center justify-between rounded-sm border border-slate-300 bg-white px-6 py-4 shadow-sm text-lg"
    aria-label="Main navigation">
    <a
      href="/"
      class="flex items-center gap-3">
      <span>{{ .Site.Title }}</span>
    </a>

    <!-- Desktop Menu -->
    <ul class="hidden items-center gap-8 md:flex">
      {{ range .Site.Menus.main }}
      <li>
        <a
          href="{{ .URL | relLangURL }}"
          class="
            text-slate-900
            transition-colors
            hover:text-slate-600
            {{ if eq $.RelPermalink (.URL | relLangURL) }}
            font-semibold
            {{ end }}
          ">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>

    <!-- Mobile -->
    <details class="md:hidden">
      <summary class="cursor-pointer rounded-lg px-3 py-2 hover:bg-slate-200">
        Menu
      </summary>

      <ul
        class="
          absolute
          right-4
          mt-2
          min-w-48
          rounded-sm
          border
          border-slate-200
          bg-white
          p-4
          shadow-sm">
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL | relLangURL }}" class="block py-2"> {{ .Name }} </a>
        </li>
        {{ end }}
      </ul>
    </details>
  </nav>
</header>
