<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ .Title | default .Site.Title }}">

  {{ with .Site.Params.favicon }}
  <link rel="shortcut icon" href="{{ . | absURL }}">
  <meta property="og:image" content="{{ . | absURL }}">{{ end }}

  <title>{{ .Title | default .Site.Title }}</title>

  {{ $scss := resources.Get "scss/main.scss" }}
  {{ $options := (dict "transpiler" "dartsass" "targetPath" "css/main.css" "outputStyle" "compressed") }}
  {{ $style := $scss | css.Sass $options | minify | fingerprint }}

  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
</head>

<body class="layout">
  <header>
    <div id="title">
      <a href="{{ .Site.BaseURL }}">
        {{- .Site.Title -}}
      </a>
    </div>
  </header>
  <hr>