:root{
    --invert-font-color:#fff;
    --primary-color:#1a95e0;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

.noa{
    text-decoration: none !important;
    color: var(--color-text) !important;
}

.h1{
    padding: 1% 1% 0% 1%;
    font-family: 'Festive', cursive;
}

body {
    /* font-family: "JetBrains Mono", 'Courier New', Courier, monospace; */
    font-family: 'Open Sans', sans-serif;
}

a{
    cursor:pointer;
    color:var(--primary-color);
    text-decoration:none;
    font-family: "JetBrains Mono", monospace;
    font-style: italic !important;

    padding: .1875rem .5rem;
    margin-top: .125rem;
    /* margin-left: 1.25rem; */
    border-radius: .25rem !important;
}

h1{
    font-size: 600;
}

a:hover{
    background-color:var(--primary-color);
    color:var(--invert-font-color)
}

::-moz-selection{
    background:var(--primary-color);
    color:var(--invert-font-color)
}

::selection{
    background:var(--primary-color);
    color:var(--invert-font-color)
}

.kutipan {
    padding:1.25rem;
    margin-top:1.25rem;
    margin-bottom:1.25rem;
    border:1px solid #e9ecef;
    border-left-width:.25rem;
    border-radius:.25rem;
    border-left-color: #5bc0de;
}

