{{- partial "header.html" . -}}

<body>
  <header>
    <a href="/">
      <div class="home">
        <span>DEO</span>
        <span class="red">VALIANDRO</span>
      </div>
    </a>
  </header>
  <main class="base">
    <ol>
      {{ range .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>,
        <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
          {{ .Date.Format (default "02 Jan 2006" .Site.Params.dateFormat) }}
        </time>
      </li>
      {{ else }}
      <li>
        No posts yet
      </li>
      {{ end }}
    </ol>
  </main>
  {{- partial "footer.html" . -}}