{{- partial "header.html" . -}}

<main class="layout__main base">
  <div class="card">
    <div class="card-content">
      {{ .Content }}
    </div>
    {{ if .Pages }}
    <ol class="page-list">
      {{ range .Pages.ByDate.Reverse }}
      <li class="page-item">
        <a href="{{ .RelPermalink }}" class="page-link">{{ .Title }}</a>
        <time datetime="{{ .Date.Format " 2006-01-02" }}" class="metadata">
          {{ .Date.Format (default "02 Jan 2006" .Site.Params.dateFormat) }}
        </time>
      </li>
      {{ end }}
    </ol>
    {{ else }}
    <p class="no-content">No posts yet</p>
    {{ end }}
  </div>
</main>

{{- partial "footer.html" . -}}