{{ define "main" }}

{{ .Content }}

{{ if .Pages }}
<ol class="page-list">

    {{ $pages := .RegularPages }}
    {{ if eq .Section "blog" }}
    {{ $pages = $pages.ByDate.Reverse }}
    {{ else }}
    {{ $pages = $pages.ByDate }}
    {{ end }}

    {{ range $pages }}
    <li class="page-item">
        <a href="{{ .RelPermalink }}" class="page-link">{{ .Title }}</a>
        <time datetime="{{ .Date.Format " 2006-01-02" }}" class="metadata">
            {{ .Date.Format (default "02 Jan 2006" .Site.Params.dateFormat) }}
        </time>
    </li>
    {{ end }}
</ol>
{{ else }}
<p class="no-content">No posts yet</p>
{{ end }}
{{ end }}