{{- partial "header.html" . -}}
<main class="layout__main base">
  <div class="card">
        <div class="card-title">
            <h1 class="title">{{ .Params.title }}</h1>
            <p class="metadata">{{ .Date | time.Format "02 Jan 2006" }}</p>
        </div>
        <div class="card-content">  
          {{ .Content }}
          <p>
            {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
            {{ end }}
          </p>
        </div>
    </div>
    
</main>
{{- partial "footer.html" . -}}