@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Atkinson Hyperlegible Mono")
    , url("AtkinsonHyperlegibleMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono Italic";
  font-style: italic;
  font-weight: 400;
  src: local("Atkinson Hyperlegible Mono")
    , url("AtkinsonHyperlegibleMono-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Atkinson Hyperlegible Regular")
    , url("AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Atkinson Hyperlegible Regular")
    , url("AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
}