@use "./variables" as *;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  letter-spacing: -0.01em;
}

body {
  margin: 0 auto;
  background: $bg;
  color: $text;
  max-width: $container;
  font: 400 $font-size $font-main;
  line-height: $line-height;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.03em;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}