@use "variables" as *;
@use "mixins" as *;

// Color tags
orange, gray, red, yellow, green, cyan, blue, purple, pink {
    padding-inline: $spacing-sm;
    padding-bottom: $spacing-xs;
}

orange { background-color: $orange; }
gray { background-color: $gray; }
red { background-color: $red; }
yellow { background-color: $yellow; }
green { background-color: $green; }
cyan { background-color: $cyan; }
blue { background-color: $blue; }
purple { background-color: $purple; }
pink { background-color: $pink; }

// Tables
table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    margin-bottom: $spacing-lg;
    
    @include mobile {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
    td, th {
        border: 1px solid $border-color;
        text-align: center;
        padding: $spacing-md;
    }
    
    th {
        background-color: $table-header-bg;
        font-weight: 700;
    }
    
    tr:nth-child(even) {
        background-color: $table-even-bg;
    }
}

// Code blocks
pre, code {
    font-family: $font-family-mono;
    // font-size: $font-size-code;
}

.chroma {
    overflow-y: auto;
    display: block;
    padding: 1ch;
    border-radius: 10px;
    border: 1px solid #0000001a;
    background-color: $code-bg;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.h-cb {
    margin: $spacing-xl 0;
    position: relative;
    
    &-ct {
        .highlight {
            margin: 0;
            padding-top: $spacing-xl;
            
            pre {
                margin: 0;
            }
        }
    }
    
    &-lang {
        display: inline-block;
        padding: .1rem .4rem;
        font-size: .6em;
        font-family: $font-family-mono;
        position: absolute;
        top: 0;
        z-index: 10;
        border-top-right-radius: 6px;
        color: #fff;
        background-color: #555;
        
        @include code-language(java, #e82d2f);
        @include code-language(python, #306998);
        @include code-language(py, #306998);
        @include code-language(sql, #00758f);
        @include code-language(bash, #71706f);
        @include code-language(sh, #71706f);
        @include code-language(rust, #dea584, #000);
        @include code-language(rs, #dea584, #000);
        @include code-language(go, #00add8);
        @include code-language(txt, #d65d0e)
    }
}

// Images
img {
    max-width: 100%;
    display: block;
    margin-inline: auto;
    mix-blend-mode: multiply;
}

// Keyboard
kbd {
    background-color: rgba(200,200,200,.15);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: .2em;
    box-shadow: inset 0 1px rgba(255,255,255,.12), inset 0 -2px rgba(0,0,0,.15);
    display: inline-block;
    line-height: 1.5;
    margin: 0 .15em;
    min-width: 1em;
    padding: .125em .5em;
    text-align: center;
    user-select: none;
    white-space: nowrap;
}

// Mark
mark {
    padding: 1px 5px;
    border-radius: 1ch;
    border: 1px solid #f0d547;
    background-color: #fff8d3;
    
    a {
        color: #0d47a1;
    }
}