@use "./variables" as *;
@use "./mixins" as *;

footer {
  margin-block: 2rem 3rem;
  @include centered-text;
  font-family: $font-mono;
  font-size: 0.95rem;

  a {
    white-space: nowrap;
  }

  nav {
    margin-top: 0.5rem;
  }
}