@use "variables" as *;

@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin responsive($breakpoint) {
    @media (max-width: #{$breakpoint}) {
        @content;
    }
}

@mixin code-language($language, $bg-color, $text-color: #fff) {
    &--#{$language} {
        background-color: $bg-color;
        color: $text-color;
    }
}