@use "./variables" as *;
@use "./mixins" as *;

.post {
  width: 100%;
}

.post-header {
  h1 {
    @include centered-text;
  }

  .metadata {
    display: block;
    @include muted-text;
    @include centered-text;
  }
}

.post-content {
  img {
    max-width: 100%;
    height: auto;
  }

  pre,
  code {
    @include code-style;
  }

  pre {
    overflow-x: auto;
    padding: 1rem;
    @include rounded;
  }
}