// Colors
$orange: lab(88.4871% 9.94918 28.8378);
$gray: rgba(182,175,166,.5);
$red: rgba(205,66,66,.5);
$yellow: rgba(222,159,13,.5);
$green: rgba(79,171,119,.5);
$cyan: rgba(76,174,170,.5);
$blue: rgba(48,121,176,.5);
$purple: rgba(125,113,193,.5);
$pink: rgba(199,112,125,.5);

$border-color: #3f3e3c;
$text-color: #333;
$heading-color: #262626;
$link-color: #3079b0;
$background-color: #FEF5E7;
$table-header-bg: #f5f7ff;
$table-even-bg: #f5f7ff;
$code-bg: #f1f3f4;

// Typography
$font-family-primary: avenir lt pro, sans-serif;
$font-family-mono: dm mono, monaco, cascadia code, roboto mono, monospace;
$font-size-root: 20px;
$font-size-body: 1.2rem;
$font-size-small: 0.7rem;
$font-size-code: 0.9375rem;

// Spacing
$spacing-xs: 0.1rem;
$spacing-sm: 0.25rem;
$spacing-md: 0.5rem;
$spacing-lg: 1rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2em;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;