@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$boder: 2px dashed gray;
$mono: "Source Code Pro", monospace;
$serif: "Ubuntu", serif;
$sans-serif: "Ubuntu", sans-serif;

@media (min-width: 992px) {
  body {
    max-width: 60%;
  }
}

@media (max-width: 992px) {
  body {
    max-width: 90%;
  }
}

body {
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  line-height: 1.6;
  margin-inline: auto;
  overflow-y: scroll;
}

a {
  color: #0078a0;
}

.dark-mode-toggle {
  cursor: pointer;
  visibility: hidden;
}

body.light {
  color: #35302e;
}
body.dark, body.dark a {
  background-color: #222;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
}

header {
  border-bottom: $boder;
  text-align: center;
}

.red {
  color: red;
}

.date {
  text-align: center;
}

li p {
  margin-top: .5ch;
  margin-bottom: .5ch;
}

ul {
  list-style-type: square;
}

a {
  color: #222;
  text-decoration: none;
}

.footnote-backref {
  border-bottom: none;
}

.title {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  margin-inline: auto;
}

pre,
code {
  font-family: $mono;
  font-size: 20px;
}

code {
  padding: 2px 5px;
  border-left: 5px solid #e1e1e1;
  overflow: hidden;
}

pre code {
  color: #222;
  display: block;
  padding: 1ch;
  white-space: pre-wrap;
}

blockquote {
  font-style: italic;
  border-left: 4px solid grey;
  padding: 5px 0 5px 20px;
}

footer {
  padding: 25px;
  text-align: center;
}

ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

.notfound {
  text-align: center;
}

code:not(pre > code) {
  background-color: #f6f7f8;
  padding: 1px 2px;
  border-radius: 1ch;
  border: .1rem solid #0000001a;
}

/* Format tables */
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

figure>table {
  width: max-content;
}

td {
  border: 1px solid #898EA4;
  text-align: start;
  padding: 0.5rem;
}

th {
  border: 1px solid #898EA4;
  text-align: start;
  padding: 0.5rem;
  background-color: #f5f7ff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f5f7ff;
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Garis */
hr {
  border: none;
  height: 1px;
  background: #898EA4;
  margin: 1rem auto;
}

/* keyboard */
kbd {
  background-color: rgba(200, 200, 200, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.2em;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.12), inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  line-height: 1.5;
  margin: 0 0.15em;
  min-width: 1em;
  padding: 0.125em 0.5em;
  text-align: center;
  user-select: none;
  white-space: nowrap;
}

/* mark */
mark {
  padding: 2px 5px;
  border-radius: 1ch;
  border: 1px solid #f0d547;
  background-color: #fff8d3;

  a {
    color: #0d47a1;
  }
}

/* footnote */
.footnote-ref {
  padding: 2px 5px;
  border-radius: 1ch;
  border: 1px solid #f0d547;
  background-color: #fff8d3;
}

// chroma
.bg {
  background-color: #f0f0f0;
}
.chroma {
  background-color: #f0f0f0;
  .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .hl {
    background-color: #d8d8d8;
  }
  .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  .line {
    display: flex;
  }
  .k {
    color: #007020;
  }
  .kc {
    color: #007020;
  }
  .kd {
    color: #007020;
  }
  .kn {
    color: #007020;
  }
  .kp {
    color: #007020;
  }
  .kr {
    color: #007020;
  }
  .kt {
    color: #902000;
  }
  .na {
    color: #4070a0;
  }
  .nb {
    color: #007020;
  }
  .nc {
    color: #0e84b5;
  }
  .no {
    color: #60add5;
  }
  .nd {
    color: #555;
  }
  .ni {
    color: #d55537;
  }
  .ne {
    color: #007020;
  }
  .nf {
    color: #06287e;
  }
  .nl {
    color: #002070;
  }
  .nn {
    color: #0e84b5;
  }
  .nt {
    color: #062873;
  }
  .nv {
    color: #bb60d5;
  }
  .s {
    color: #4070a0;
  }
  .sa {
    color: #4070a0;
  }
  .sb {
    color: #4070a0;
  }
  .sc {
    color: #4070a0;
  }
  .dl {
    color: #4070a0;
  }
  .sd {
    color: #4070a0;
    font-style: italic;
  }
  .s2 {
    color: #4070a0;
  }
  .se {
    color: #4070a0;
  }
  .sh {
    color: #4070a0;
  }
  .si {
    color: #70a0d0;
  }
  .sx {
    color: #c65d09;
  }
  .sr {
    color: #235388;
  }
  .s1 {
    color: #4070a0;
  }
  .ss {
    color: #517918;
  }
  .m {
    color: #40a070;
  }
  .mb {
    color: #40a070;
  }
  .mf {
    color: #40a070;
  }
  .mh {
    color: #40a070;
  }
  .mi {
    color: #40a070;
  }
  .il {
    color: #40a070;
  }
  .mo {
    color: #40a070;
  }
  .o {
    color: #666;
  }
  .ow {
    color: #007020;
  }
  .c {
    color: #60a0b0;
    font-style: italic;
  }
  .ch {
    color: #60a0b0;
    font-style: italic;
  }
  .cm {
    color: #60a0b0;
    font-style: italic;
  }
  .c1 {
    color: #60a0b0;
    font-style: italic;
  }
  .cs {
    color: #60a0b0;
    background-color: #fff0f0;
  }
  .cp {
    color: #007020;
  }
  .cpf {
    color: #007020;
  }
  .gd {
    color: #a00000;
  }
  .ge {
    font-style: italic;
  }
  .gr {
    color: #f00;
  }
  .gh {
    color: #000080;
  }
  .gi {
    color: #00a000;
  }
  .go {
    color: #888;
  }
  .gp {
    color: #c65d09;
  }
  .gu {
    color: #800080;
  }
  .gt {
    color: #04d;
  }
  .gl {
    text-decoration: underline;
  }
  .w {
    color: #bbb;
  }
}
