// Fonts & Variables
@use "hl";

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$font-main: "Iosevka Charon", sans-serif;
$font-mono: "Google Sans Code", monospace;
$mobile: 768px;

$bg: #fff;
$text: #333;
$muted: #828282;
$link: #205ea6;
$link-hover: #16407a;

body {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 80ch;
  font: 400 1.2em $font-main;
  line-height: 1.6;
  color: $text;
  overflow-y: scroll;

  @media (max-width: 992px) {
    max-width: 90%;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}

// Typography
h1 {
  text-align: center;
}

blockquote {
  font-style: italic;
  border-left: 3px solid #90969c;
  padding: .5rem 1rem;
}

.metadata {
  font: .7rem $font-mono;
  color: $muted;
  text-align: center;
}

// Nav
header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      white-space: nowrap;
      color: #282828;

      &:hover {
        text-decoration: none;
      }
    }

    .nav-menu,
    .mobile-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .desktop-menu {
      display: flex;
      gap: 20px;
    }

    .mobile-menu {
      display: none;

      summary {
        cursor: pointer;
        list-style: none;
        user-select: none;
      }

      summary::-webkit-details-marker {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
      }

      a {
        display: block;
      }
    }

    @media (max-width: $mobile) {
      .desktop-menu {
        display: none;
      }

      .mobile-menu {
        display: block;
        margin-left: auto; // dorong ke kanan
        text-align: right;

        ul {
          text-align: left;
          margin-top: 12px;
        }
      }
    }
  }
}

footer {
  text-align: center;
  font-family: $font-mono;
}

// Table
table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid #e6edf3;
    padding: .5rem;
    text-align: center;
  }

  th {
    background: #f5f7ff;
  }

  tr:nth-child(even) {
    background: #f5f7ff;
  }
}

// Code
pre,
code {
  font-family: $font-mono;
  font-size: 0.95rem;
  overflow-x: auto;
}

.chroma {
  padding: 1rem;
  border: 1px solid #0000001a;
  border-radius: 10px;
}

@mixin variant($bg, $border, $text) {
  background: $bg;
  border-color: $border;

  a,
  p {
    color: $text;
  }
}

.primary {
  @include variant(#cce5ff, #b8daff, #004085);
}

.secondary {
  @include variant(#e2e3e5, #d6d8db, #383d41);
}

.success {
  @include variant(#d4edda, #c3e6cb, #155724);
}

.danger {
  @include variant(#f8d7da, #f5c6cb, #721c24);
}

.warning {
  @include variant(#fff3cd, #ffeeba, #856404);
}

// Form
input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: $font-main;
}

// Utility (mini-tailwind 😄)
.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.p-2 {
  padding: 8px;
}

.p-4 {
  padding: 16px;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}