@use "flexoki";

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir-lt-pro");

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size-adjust: ex-height 0.53;
  font-size: 14px;
  line-height: 1.7;
}

body {
  font-family: avenir lt pro, serif;
  font-weight: 300;
  margin-right: auto;
  overflow-y: scroll;

  background-color: rgb(248 250 252);

  @media (max-width: 992px) {
    font-size: 1rem;
    max-width: 90%;
  }

  @media (min-width: 992px) {
    font-size: 1.2rem;
    max-width: 60ch;
    margin-left: 20%;
  }
}

p > code {
  line-height: 0;
  background-color: rgba(200, 200, 200, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.2em;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  line-height: 1.5;
  margin: 0 0.15em;
  min-width: 1em;
  padding: 0.125em 0.2em;
  text-align: center;
  user-select: none;
  white-space: nowrap;
}

hr {
  border: 0;
  height: 1px;
  background: #282828;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

h1 {
  text-align: center;
}

a {
  color: #205ea6;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #16407a;
    text-decoration: underline;
  }
}

blockquote {
  font-style: italic;
  border-left: 0.2rem solid #90969c;
  padding: 0 20px;
  margin-left: 0;
}

em {
  text-align: center;
}

.metadata {
  color: #828282;
  margin: 0.5rem 0;
  font: 0.7rem JetBrains Mono, monaco, cascadia code, roboto mono, monospace;
  text-align: center;
}

ul {
  list-style-type: square;

  &.blog-posts {
    list-style-type: none;
    padding: 0;
  }
}

header {
  nav {
    margin: 0 auto;

    /* Flexbox untuk menyusun item */
    display: flex;
    justify-content: space-between;
    align-items: center;

    a,
    a:hover {
      text-decoration: none;
      white-space: nowrap;
      color: #282828;
    }
    .nav-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;
    }
  }
}

footer {
  text-align: center;
  margin-bottom: 3ch;
  font: 1rem JetBrains Mono, monospace;
}

table {
  border-collapse: collapse;
  margin: 0 auto 1rem;
  width: 100%;

  @media (max-width: 768px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  td,
  th {
    border: 1px solid #e6edf3;
    text-align: center;
    padding: 0.5rem;
  }

  th {
    background-color: #f5f7ff;
    font-weight: 700;
  }

  tr:nth-child(even) {
    background-color: #f5f7ff;
  }
}

pre,
code {
  font-family: JetBrains Mono, monaco, cascadia code, roboto mono, monospace;
}

.h-cb {
  margin: 1.5em 0;
  position: relative;

  &-ct {
    .highlight {
      margin: 0;
      padding-top: 1.5em;

      pre {
        margin: 0;
      }
    }
  }

  &-lang {
    display: inline-block;
    padding: 0.1rem 0.4rem;
    font-size: 0.6em;
    font-family: JetBrains Mono, monospace;
    position: absolute;
    top: 0;
    z-index: 10;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: #fff;
    background-color: #d65d0e;
  }
}

img {
  max-width: 100%;
  display: block;
  margin-inline: auto;
  mix-blend-mode: multiply;
}

kbd {
  background-color: rgba(200, 200, 200, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.2em;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  line-height: 1.5;
  margin: 0 0.15em;
  min-width: 1em;
  padding: 0.125em 0.5em;
  text-align: center;
  user-select: none;
  white-space: nowrap;
}

mark {
  padding: 1px 5px;
  border-radius: 1ch;
  border: 1px solid #f0d547;
  background-color: #fff8d3;

  a {
    color: #0d47a1;
  }
}

mjx-math {
  font-size: 90% !important;
}

mjx-container[display="true"] {
  @media (max-width: 992px) {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.chroma {
  font-size: 1rem;
  overflow-y: auto;
  display: block;
  padding: 1ch;
  border-radius: 10px;
  border: 1px solid #0000001a;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card {
  padding: 0 1ch;
  border-radius: 12px;
  margin-bottom: 2ch;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(255 255 255);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.08);
}

.card-content {
  padding: 1ch;
}

.allert {
  .card-title {
      background-color: rgb(255 255 255);
      border-radius: 20px;
      text-align: center;
    }
}

.primary {
  a, p {
    color: #004085;
  }
  background-color: #cce5ff;
  border-color: #b8daff;
}

.secondary {
  a, p {
    color: #383d41;
  }
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.info {
  a, p {
    color: #0c5460;
  }
  background-color: #cce5ff;
  border-color: #b8daff;
}

.warning {
  a, p {
    color: #856404;
  }
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.danger {
  a, p {
    color: #721c24;
  }
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.success {
  a, p {
    color: #155724;
  }
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.light {
  a, p {
    color: #818182;
  }
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.dark {
  a, p {
    color: #1b1e21;
  }
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}
