@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  font-family: 'STIX Two Text', 'Georgia', serif;
  background: #fff;
  color: #111;
  line-height: 1.6;
  font-size: 1.1rem;
}