@use "../mixins" as *;

// MathJax
mjx-math {
  font-size: 90% !important;
}

mjx-container[display="true"] {
  @include responsive(992px) {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}